.MainMenu {
	background: #1E1E1E;
	text-align: center;
	height: 3.75em;
}

.MainMenu-item {
	display: inline-block;
}

.MainMenu-link {
	color: #00DBFF;
	text-decoration: none;
	line-height: 3.75em;
}